.App {
  position: absolute;
  display: flex;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  background-image: url('./Images//1540005.jpg');
  background-size: cover;
}

.phone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 300px;
  border: 3px black solid;
  border-radius: 30px;
  background-color: #000;
}

.screen {
  width: calc(100% - 5px);
  height: calc(100% - 5px);
  /* background-color: #F5F4F6; */
  background-image: url('./Images/climaWallpaper.webp');
  border-radius: 30px;
  overflow: hidden!important;
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.top {
  width: 100%;
  height: 25px;
  display: flex;
  justify-content: space-between;
  background: rgba(51, 51, 51, 0.2);
  overflow: hidden;
  border-bottom: 1px solid hsla(0, 0%, 43%, 0.2);
}

.dock-left, .dock-right {
  display: flex;
  align-items: center;
  text-align: center;
  flex: 1;
  color: #fff;
}

.dock-left {
  padding: 5px 10px 0 5px;
  font-size: 16px;
  font-weight: 200;
  color: #fff;
  text-shadow: -1px 0 #bbb, 0 1px #bbb, 1px 0 #bbb, 0 -1px #bbb;
}

.clock {
  width: 100%;
  color: black;
}

.dock-right {
  display: flex;
  justify-content: space-around;
  padding: 5px 10px 0 5px;
}

.dock { 
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 30px;
  padding: -5px 5px 0 5px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.dock .sensor, .dock .camera {
  width: 12px;
  height: 12px;
  background: #000;
  border-radius: 50%;
  margin: 0 3px 14px 3px;
}

.dock .speaker {
  width: 60px;
  height: 8px;
  background: #000;
  border-radius: 7px;
  margin: 0 5px 17px 5px;
}

.icon {
  width: 20px;
}

.datas {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 30px;
  box-shadow: 0px 1px 2px black;
  border-radius: 30px;
}

.city {
  font-family: Arial, Helvetica, sans-serif;
}

.region {
  margin-top: -10px;
  color: #bbb;
}

.graus {
  font-size: 75px;
  color: #3A4152;
  margin: -5px 0px 0px;
}

.weatherIcon {
  width: 75px;
}

.inputs {
  display: flex;
  position: absolute;
  justify-content: center;
  left: 0;
  right: 0;
  bottom: 10%;
}

input {
  width: 190px;
  border-radius: 5px;
}

button {
  width: 70px;
  background-color: #2B5CD9;
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: 900;
  font-size: medium;
  margin-left: 5px;
  cursor: pointer;
}